
@{
    ViewBag.Title = "RedditClone";
}

<div class="text-center mx-auto">
    <div>
        @{
            Html.RenderPartial("_LoginPartial");
        }
    </div>
    @Html.ActionLink("View All Subreddits", "Index", "Subreddit", null, new {@class = "btn btn-primary btn-sm"})
</div>
