
@{
    ViewBag.Title = "RedditClone";
}

<div class="col-lg-6 mx-auto justify-content-around">
    <div>
        @{
            Html.RenderPartial("_LoginPartial");
        }
    </div>
    @Html.ActionLink("View All Subreddits", "Index", "Subreddit", null, new {@class = "btn btn-block btn-primary btn-sm my-2"})
</div>
