@model RedditClone.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 class="title">@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4 class="title">Change your account settings</h4>
    <hr />
    @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-primary" })
</div>
