/******************************
General Rules
******************************/
body {
    background-color: #494949;
}

/* Page titles */
.title {
    color: rgba(255, 255, 255, .5);
}

/* Usernames on posts and comments */
#user-name {
    color: #007bff;
}

/* Standardize list-groups */
.list-group-item {
    background-color: #3d3d3d;
    color: rgba(255,255,255,.5);
}

/* Standardize forms */
.form-control,
.form-control:focus {
    background-color: rgba(255, 255, 255, .5);
    color: black;
    border: none;
}

label {
    color: rgba(255, 255, 255, .5);
}

/******************************
Header
******************************/

.navbar {
    background-color: #3d3d3d;
}

button.navbar-toggler:focus {
    outline: none;
}

/******************************
Home/Index
******************************/

#login-partial {
    height: 300px;
}

/******************************
Subreddit Navigation
******************************/

#subreddit-nav .list-group-item {
    background-color: #3d3d3d;
    border-width: 1px;
}

#subreddit-nav .list-group-item-action:hover {
    background-color: #494949;
}

#subreddit-nav .list-group-item-secondary.list-group-item-action:hover {
    background-color: #494949;
}

#subreddit-nav .list-group-item-secondary {
    background-color: #494949;
    color: #fff !important;
    border: none;
}

#subreddit-nav .list-group-item {
    color: rgba(255,255,255,.5);
}

/******************************
Posts
******************************/

.jumbotron {
    background-color: #3d3d3d;
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.125);
}

#post-img {
    max-width: 800px;
}

#posts .list-group-item:hover,
#posts .list-group-item:active,
#posts .list-group-item:focus {
    background-color: #494949;
    color: rgba(255,255,255,.5);
    outline: none;
}

/******************************
Comments
******************************/

#comment-hr {
    margin: 10px;
}

/******************************
Modal Windows
******************************/

.modal-content,
.modal-content label {
    color: rgba(255, 255, 255, .5);
    background-color: #3d3d3d;
}

.modal-header {
    border-color: black;
}

.modal-footer {
    border-color: black;
}

/******************************
Register & Login Form
******************************/

#register-form {
    max-width: 400px;
    margin: auto;
}

#loginForm {
    max-width: 400px;
    margin: auto;
}

/******************************
Footer
******************************/

#footer {
    background-color: #3d3d3d;
}

/******************************
Media Queries
******************************/

@media(min-width: 1200px) {
    .container-fluid {
        width: 75%;
    }
}